= link_to image_tag('vimchi_logo.png'), 'http://www.meetup.com/Vim-Chicago/'
%p
  = link_to 'Meetup', 'http://www.meetup.com/Vim-Chicago/'
  \|
  = link_to 'Twitter', 'https://twitter.com/vimchi'
%p
  sponsored by
  = link_to 'Hashrocket', 'http://hashrocket.com'
